@CHARSET "UTF-8";
.left { height: 745px; width: 837px; float: left;  background: url(../image/left.jpg); }

.right { height: 745px; width: 363px; float: right; background: url(../image/right.jpg); }

.footer { height: 60px; width: 1200px; background: url(../image/footer.gif); clear: both; }

.wrap .right .kefu1 { float: left; width: 135px;  margin-top: 88px; margin-left: 85px; }
.wrap .right .kefu2 { float: left; width: 135px;  margin-top: 15px; margin-left: 85px; }

.wrap .left .download { float: left; margin: 100px 0px 0px 220px; padding-top: 100px; width: 395px; height: 395px; background: url(../image/download.gif); }

.wrap .left .download .prod { float: left; width: 400px; height: 40px; text-align: center; }

.wrap .left .download a:link { float: left; margin: 30px 0 0 120px; text-align: center; cursor: pointer;
										font-family: Verdana,Tahoma,Arial; font-size: 11pt; font-weight: bold; color: #e5312a; }
.wrap .left .download a:hover { float: left; margin: 30px 0 0 120px; text-align: center; cursor: pointer;
											font-family: Verdana,Tahoma,Arial; font-size: 12pt; font-weight: bold; color: #e5312a; }
.wrap .left .download a:active { float: left; margin: 30px 0 0 120px; text-align: center; cursor: pointer;
											font-family: Verdana,Tahoma,Arial; font-size: 11pt; font-weight: bold; color: #e5312a; }
.wrap .left .download a:visited { float: left; margin: 30px 0 0 120px; text-align: center; cursor: pointer;
											 font-family: Verdana,Tahoma,Arial; font-size: 11pt; font-weight: bold; color: #e5312a; }
											 
.wrap .right .link_name      { float: left; width: 135px;  margin-top: 100px; margin-left: 95px; font-family: 微软雅黑,Verdana,Tahoma,Arial; font-size: 11pt; font-weight: bold;}
.wrap .right .link_address   { float: left; width: 300px;  margin-top: 8px; margin-left: 70px;  font-family: 微软雅黑,Verdana,Tahoma,Arial; font-size: 9pt; font-weight: bold; font: bold bold 12px/20px "微软雅黑,Verdana,Tahoma,Arial"; }
.wrap .right .link_postCode { float: left; width: 200px;  margin-top: 4px; margin-left: 70px;  font-family: 微软雅黑,Verdana,Tahoma,Arial; font-size: 9pt; font-weight: bold; font: bold bold 12px/16px "微软雅黑,Verdana,Tahoma,Arial"; }
.wrap .right .link_phone     { float: left; width: 200px;  margin-top: 4px; margin-left: 70px;  font-family: 微软雅黑,Verdana,Tahoma,Arial; font-size: 9pt; font-weight: bold; font: bold bold 12px/18px "微软雅黑,Verdana,Tahoma,Arial"; }
.wrap .right .link_fax         { float: left; width: 200px;  margin-top: 4px; margin-left: 70px;  font-family: 微软雅黑,Verdana,Tahoma,Arial; font-size: 9pt; font-weight: bold; font: bold bold 12px/16px "微软雅黑,Verdana,Tahoma,Arial"; }
.wrap .right .link_mobile     { float: left; width: 200px;  margin-top: 4px; margin-left: 70px;  font-family: 微软雅黑,Verdana,Tahoma,Arial; font-size: 10pt; font-weight: bold; font: bold bold 12px/16px "微软雅黑,Verdana,Tahoma,Arial"; }
