.wrap .left .download { height: 745px; width: 595px; float: left; }

.wrap .left .lhjcy { margin-top: 208px; font: 16px/30px "Î¢ÈíÑÅºÚ"; color: #F00; width: 506px; margin-left: 175px; }
.wrap .left .lhjcy a { color: #F00; text-decoration: underline; }


.wrap .left .mmccy { margin-top: 70px; font: 16px/30px "Î¢ÈíÑÅºÚ"; color: #F00; width: 506px; margin-left: 175px;
 }
.wrap .left .mmccy a { color: #F00; text-decoration: underline; }
.wrap .left .pvccy { color: #F00; width: 506px; margin-top: 67px; margin-left: 175px; font: 16px/30px "Î¢ÈíÑÅºÚ"; }
.wrap .left .pvccy a { color: #F00; text-decoration: underline; }

.wrap .left .hbmcy { font: 16px/30px "Î¢ÈíÑÅºÚ"; color: #F00; margin-top: 72px; margin-left: 175px; }

.wrap .left .hbmcy a { color: #F00; text-decoration: underline; }




.wrap .left .disc { margin-top: 59px; font: 16px/30px "Î¢ÈíÑÅºÚ"; color: #F00; width: 506px; margin-left: 175px;
 }

.wrap .left .disc a { color: #F00; text-decoration: underline; }
