@CHARSET "UTF-8";
.left { height: 745px; width: 837px; float: left; background: url(../image/left.jpg); }

.right { height: 745px; width: 363px; float: right; background: url(../image/right.jpg); }

.footer { height: 64px; width: 1200px; background: url(../image/footer.jpg); clear: both; }

.wrap .right .kefu1 { float: left; width: 135px;  margin-top: 88px; margin-left: 85px; }
.wrap .right .kefu2 { float: left; width: 135px;  margin-top: 15px; margin-left: 85px; }

.wrap .left .title { position: relative; top: 90px; text-align: center; display: block; color: #000000; font: normal normal 30px/80px "微软雅黑"; width: 837px; margin: 0px; padding: 0px; }

.wrap .left .txt { position: relative; top: 70px; width: 650px; font: lighter normal 16px/25px "黑体"; color: #000000; text-transform: capitalize; margin: 0px 25px 35px; padding: 60px; }

.wrap .left .txt img { text-align: center; display: block; margin-left: 160px; margin-top: 80px; }

.wrap .left .txt .zuo { width: 180px; font: 14px "微软雅黑"; margin-left: 130px; float: left; }

.wrap .left .txt .you { font: 14px "微软雅黑"; width: 250px; margin-left: 400px; }