@CHARSET "UTF-8";
.header { height: 380px; width: 1200px; background: url(../image/header.jpg); overflow: auto; }

.tag { height: 35px; width: 1200px; background: url(../image/tag.png); overflow: hidden; margin: 0px; }

.tag ul { color: #FFF; list-style: none; font: 20px/35px "微软雅黑"; margin: 0px 0px 0px 250px; }

.tag ul li { float: left; margin: 0px 20px 0px 0px; }

.tag a { color: #FFF; text-decoration: none; }

.line1 { height: 11px; width: 1200px; background: url(../image/line1.png); clear: both; }

.wrap { margin: auto; height: 1200px; width: 1200px; }

.wrap .left .pic img { margin-top: 48px; margin-left: 78px; }

.wrap .left .blank { height: 100px; }