.wrap .left #left1 { height: 35px; width: 837px; }

.wrap .left #left2 { height: 92px; width: 837px; margin-top: 35px; }

.wrap .left #left3 { height: 72px; width: 837px; }

.wrap .left #left5 { height: 71px; width: 837px; }

.wrap .left #left7 { height: 72px; width: 837px; }

.wrap .left #left8 { height: 87px; width: 837px; }

.wrap .left #left9 { height: 30px; width: 650px; font: normal 22px/30px "ºÚÌå"; color: #FFF; clear: both; margin: 5px 0px 0px 164px; }

.wrap .left #left10 { height: 21px; width: 837px; }

.wrap .left #left11 { height: 20px; width: 837px; margin-top: 20px; }
.t12 { line-height: 30px; margin: 0px 0px 0px 0px; }
.t12 p { font: normal 18px/30px "Î¢ÈíÑÅºÚ"; color: #FFF; text-decoration: none; margin: 0px; }

.title1 { line-height: 0px; overflow: auto; margin: 45px 0px 0px 164px; }


.title1 p { font: 100 normal 25px/40px "Î¢ÈíÑÅºÚ"; color: #FFF; text-decoration: none; margin: 0px 0px 0px 0px; }


.t11 { line-height: 0px; overflow: auto; margin: 0px 0px 0px 0px; }


.t11 p { font: 100 normal 25px/40px "Î¢ÈíÑÅºÚ"; color: #FFF; text-decoration: none; margin: 0px 0px 0px 0px; }



.left2 .title2 { line-height: 30px; margin: 0px 0px 0px 164px; }

.title2 p { font: normal 18px/30px "Î¢ÈíÑÅºÚ"; color: #FFF; text-decoration: none; margin: 0px; }
.title3  { margin: 35px 0px 20px 164px; }
.title3 p  { font: lighter 15px/25px "ºÚÌå"; color: #F00; margin: 0px; }

.wrap .left #left4 { margin-left: 164px; height: 82px; width: 837px; color: #FFF; font: 16px/22px "ºÚÌå"; margin-bottom: 72px; }
.wrap .left #left4 #duo { float: left; height: 82px; width: 300px; font: 16px/22px "ºÚÌå"; color: #FFF; }


.wrap .left #left4 #500 { height: 82px; width: 300px; margin-left: 300px; font: 16px/22px "ºÚÌå"; color: #FFF; }

.wrap .left img { height: 82px; padding-right: 20px; float: left; border-style: none; }

.wrap .left #left11 .btm { font: 16px/20px "ºÚÌå"; margin-left: 50px; text-decoration: underline; height: 20px; width: 465px; margin-bottom: 0px; float: left; text-align: center; display: block; margin-top: 0px; }

.wrap .left #left11 .btm ul { font: lighter 16px/20px "ºÚÌå"; color: #F00; text-decoration: underline; list-style: none; margin: 0px; }

.wrap .left #left11 .btm ul li { float: left; padding-right: 30px; text-decoration: underline; color: #F00; }
.wrap .left #left11 .btm ul li a { color: #F00; text-decoration: underline; }

.wrap .left #left11 .next { font: 14px/22px "ºÚÌå"; color: #FFF; text-decoration: none; text-align: center; display: block; margin: 0px 10px 0px 0px; padding: 0px; float: right; }


.title4 { font: 20px "ºÚÌå"; color: #FFF; text-align: center; display: block; }

.wrap .left .duo { float: left; height: 660px; width: 629px; }

.wrap .left .duo2 { height: 660px; width: 208px; float: right; }

.wrap .left .duo .t1 { margin-top: 71px; margin-left: 131px; }

.wrap .left .duo .t1 .t13 { font: normal 15px/25px "Î¢ÈíÑÅºÚ"; color: #FFF; margin-left: 0px; margin-bottom: 30px; height: 25px; }

.wrap .left .duo #lhj_series .duo2 { height: 194px; width: 154px; float: left; margin-left: 110px; margin-top: 85px; }

.wrap .left .duo #lhj_series { margin-top: 0px; }
.wrap .left .duo #lhj_series1 { margin-top: -30px; }

.wrap .left .duo #lhj_series .duo2 img { margin-left: 34px; margin-top: 18px; }
.wrap .left .duo #lhj_series .show #kuang_wrap { height: 85px; width: auto; margin-top: 18px; margin-left: 20px; }


.wrap .left .duo #lhj_series .show { height: auto; width: 314px; margin-left: 284px; border: 1px solid #FFF; }

.wrap .left .duo #lhj_series .duo2 .detail { font: 15px/25px "Î¢ÈíÑÅºÚ"; text-align: center; display: block; color: #FFF; }

.wrap .left .duo #lhj_series .show p { font: 15px/25px "Î¢ÈíÑÅºÚ"; color: #FFF; margin-left: 20px; width: 280px; }

.wrap .left .duo #lhj_series .show .purchase { height: 21px; width: 73px; background: #F57E20; font: 15px/23px "Î¢ÈíÑÅºÚ"; color: #000; text-align: center; display: block; margin-bottom: 10px; margin-left: 230px; }

.wrap .left .jishuziliao { height: 21px; width: 73px; margin-left: 10px; font: 15px/23px "Î¢ÈíÑÅºÚ"; color: #000; text-align: center; display: block; margin-bottom: 10px; float: left; background: #F57E20; }

.wrap .left .duo2 .t2 { width: 208px; margin-top: 71px; }

.wrap .left .duo2 .t2 .t22 { width: 151px; margin-left: 28px; font: 20px/35px "Î¢ÈíÑÅºÚ"; color: #FFF; }

.wrap .left .duo2 .t2 .t22 span { font-size: 30px; }

.wrap .left .duo2 .t2 .t23 { font: 15px/20px "Î¢ÈíÑÅºÚ"; color: #FFF; margin-top: 66px; margin-left: 28px; }

.wrap .left .duo .t1 .t14 { font: 18px/25px "Î¢ÈíÑÅºÚ"; color: #FFF; text-align: center; display: block; width: 398px; margin-top: 15px; margin-bottom: 25px; }

.wrap .left .duo .fjdpic { height: 99px; margin-top: 60px; width: 270px; margin-left: 210px; }

.wrap .left .duo .fjdpic img { border: 1px dotted #FFF; padding: 3px; margin-right: 20px; }

.wrap .left .duo .fjdpic2 { height: 99px; width: 240px; margin-left: 265px; margin-top: 30px; overflow: auto; padding-bottom: 10px; }

.wrap .left .duo .fjdpic2 img { padding: 10px; }

.wrap .left .duo .fjdpic3 { margin-left: 150px; margin-top: -20px; overflow: auto; padding-bottom: 0px; margin-bottom: 0px; }

.wrap .left .duo .fjdpic3 img { padding: 10px; }

.wrap .left .duo .fjdpic3 p { font: 14px "ºÚÌå"; color: #FFF; text-align: center; display: block; }
.wrap .left .duo #lhj_series #table33 p { font: 16px/20px "Î¢ÈíÑÅºÚ"; color: #FFF; margin-bottom: 10px; }


.wrap .left .duo .fjdpic3 .jd1 { width: 122px; float: left; }
.wrap .left .duo .fjdpic3 .jd2 { width: 122px; float: left; }

.wrap .left .duo #lhj_series #table11 p { font: 16px/20px "Î¢ÈíÑÅºÚ"; color: #FFF; margin-bottom: 10px; }

.wrap .left .duo #lhj_series #table4 p { font: 16px/20px "Î¢ÈíÑÅºÚ"; color: #FFF; margin-bottom: 10px; }

.wrap .left .duo #lhj_series #table19 p { font: 16px/20px "Î¢ÈíÑÅºÚ"; color: #FFF; margin-bottom: 10px; }



.wrap .left .duo #lhj_series .table26 { margin-left: 60px; overflow: auto; }

.wrap .left .duo #lhj_series .table26 p { font: 16px/20px "Î¢ÈíÑÅºÚ"; color: #FFF; margin-bottom: 10px; }

.wrap .left .duo #lhj_series .table26 table { color: #D6D6D6; border: 1px solid #FFF; height: 18px; }

.wrap .left .duo #lhj_series .table26 table tr td { border: 1px solid #FFF; font: 12px/16px "ºÚÌå"; color: #FFF; text-align: center; display: block; }

.wrap .left .duo #lhj_series .table26 table tr #bz { font-size: 10px; }

.wrap .left #left11 a { text-decoration: underline; }

.blank3 { margin: 0px; height: 10px; }

.wrap .left .duo #lhj_series .show .kuang { width: 314px; }

.kuang .jishuziliao a { color: #000; }
