.left { height: 745px; width: 837px; float: left; background: url(../image/duobg.png); }
.left1 { height: 745px; width: 1200px; float: left; background: url(../image/left7.png); }


.line2 { clear: both; height: 11px; width: 1200px; background: url(../image/line2.png); }


.right { height: 745px; width: 363px; float: right; background: url(../image/right.png); }

.footer { height: 64px; width: 1200px; background: url(../image/footer.png); clear: both; }
.wrap .right .kefu1 { float: left; width: 135px; margin-left: 70px; margin-top: 32px; }

.wrap .right .kefu2 { margin-top: 32px; width: 135px; margin-left: 210px; }
.wrap .right .kefu3 { width: 135px; margin-top: 20px; margin-left: 70px; float: left; }
.wrap .right .kefu4 { width: 135px; margin-top: 20px; margin-left: 210px; }
