.wrap .left .title { text-align: center; display: block; color: #FFF; font: normal normal 30px/80px "Î¢ÈíÑÅºÚ"; width: 837px; margin: 0px; padding: 0px; }

.wrap .left .title2 { text-align: left; display: block; color: #FFF; font: normal normal 30px/80px "Î¢ÈíÑÅºÚ"; width: 837px; margin: 0px; padding: 0px 0px 0px 20px; }

.wrap .left .xiayiye a{ color: #FFF; text-decoration: underline; }


.wrap .left .txt { font: lighter normal 16px/25px "ºÚÌå"; color: #FFF; text-transform: capitalize; margin: 0px 25px 35px; padding: 0px; }

.wrap .left .xiayiye { font: 16px "ºÚÌå"; color: #1C6990; text-align: right; display: block; margin-top: 305px; padding-right: 20px; }


.wrap .left .txt img { text-align: center; display: block; margin-left: 160px; margin-top: 80px; }

.wrap .left .txt .zuo { width: 180px; font: 14px "Î¢ÈíÑÅºÚ"; margin-left: 130px; float: left; }

.wrap .left .txt .you { font: 14px "Î¢ÈíÑÅºÚ"; width: 250px; margin-left: 400px; }
